.card {
  position: relative;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 #3f6686;
  color: #000;
  background-color: #fff;
  // &.hide {
  //   max-height: 250px;
  //   height: auto;
  // }
  &.viewMore {
    max-width: 180px;
    width: 100%;
    height: 300px;
  }
  &.viewLess {
    max-width: 250px;
    width: 100%;
  }
  > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img {
    object-fit: contain;
  }
  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .hidden-details {
      overflow: visible;
      .hidden-details__content {
        overflow: visible;
      }
    }
  }

  .product-title {
    max-height: 115px;
    overflow: hidden;
  }

  .hidden-details {
    position: relative;
    bottom: -5px;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    // box-shadow: 0 2px 5px 0 #3f6686;

    .hidden-details__content {
      position: absolute;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: -15px;
      right: -15px;
      padding: 5px 15px;
      background-color: #fff;
      will-change: box-shadow;
      box-shadow: 0 8px 5px 0 #3f6686;
      box-shadow: 0 5px 5px 0 #3f6686;
      .description {
        max-height: 210px;
        margin-top: 0px;
        overflow: hidden;
      }
    }
  }

  // .price {
  //   margin-top: auto;
  // }
}
